In [15]:
import os
import re
import pandas as pd
import numpy as np

In [16]:
# Folder containing CSV files
folder_path = '../src/lap_times_fixed/'

# List all files in the folder ending with '.csv'
file_paths = [os.path.join(folder_path, file) for file in os.listdir(folder_path) if file.endswith('.csv')]

# Initialize a dictionary to store dataframes
dataframes = {}

# Loop through each file and read its data into a pandas DataFrame
for file_path in file_paths:
    # Extract file name without extension
    file_name = os.path.splitext(os.path.basename(file_path))[0]
    
    # Read CSV into a dataframe and store it in the dictionary
    dataframes[file_name] = pd.read_csv(file_path)

## Check dataframe content

In [17]:
dataframes['Dataframe_1'].head()

,Plats,År,Plac,Klass,#,Namn,Klubb,Varv,Tid,Varv 1,Varv 2,Varv 3,Varv 4,Varv 5,Varv 6,Varv 7,Varv 8
0,FMK Skövde,2023,1,Motion 40-49,1111,Magnus Edberg,Huskvarna MK,4,53:05.5,14:08.2,14:17.5,11:47.5,12:52.1,NaN,NaN,NaN,NaN
1,FMK Skövde,2023,2,Motion -39,518,Alexander Fält,Försvarsmaktens EK,4,53:45.2,14:38.8,14:31.4,12:13.6,12:21.2,NaN,NaN,NaN,NaN
2,FMK Skövde,2023,3,Motion -39,577,Måns Dalén,FMCK Skövde,4,53:51.5,14:20.4,14:53.3,12:03.4,12:34.3,NaN,NaN,NaN,NaN
3,FMK Skövde,2023,4,Ungdom E1,175,William Almén,SMK Värnamo,4,54:06.2,14:26.6,14:50.0,12:07.0,12:42.5,NaN,NaN,NaN,NaN
4,FMK Skövde,2023,5,Motion 40-49,944,Niklas Strömberg,Götene MK,4,54:13.8,14:40.2,15:07.9,11:56.7,12:28.9,NaN,NaN,NaN,NaN

In [18]:
# Concatenating DataFrames vertically
concatenated_df = pd.concat([dataframes['Dataframe_1'], dataframes['Dataframe_2'],
                             dataframes['Dataframe_3'], dataframes['Dataframe_4'],
                             dataframes['Dataframe_5'], dataframes['Dataframe_6']], axis=0)

# Outputting the resulting DataFrame
concatenated_df.head(-10)

,Plats,År,Plac,Klass,#,Namn,Klubb,Varv,Tid,Varv 1,Varv 2,Varv 3,Varv 4,Varv 5,Varv 6,Varv 7,Varv 8,Varv 9,Varv 10,Varv 11
0,FMK Skövde,2023,1.0,Motion 40-49,1111,Magnus Edberg,Huskvarna MK,4,53:05.5,14:08.2,14:17.5,11:47.5,12:52.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FMK Skövde,2023,2.0,Motion -39,518,Alexander Fält,Försvarsmaktens EK,4,53:45.2,14:38.8,14:31.4,12:13.6,12:21.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,FMK Skövde,2023,3.0,Motion -39,577,Måns Dalén,FMCK Skövde,4,53:51.5,14:20.4,14:53.3,12:03.4,12:34.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FMK Skövde,2023,4.0,Ungdom E1,175,William Almén,SMK Värnamo,4,54:06.2,14:26.6,14:50.0,12:07.0,12:42.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,FMK Skövde,2023,5.0,Motion 40-49,944,Niklas Strömberg,Götene MK,4,54:13.8,14:40.2,15:07.9,11:56.7,12:28.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Tibro MK,2023,47.0,Bredd,213,Björn Levin,Kinna MK,4,13:56.1,18:39.1,18:19.7,18:30.7,18:26.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,Tibro MK,2023,48.0,Bredd,332,Ulf Åström,Wäxjö MS,4,16:18.5,19:03.6,19:05.7,19:10.9,18:58.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322,Tibro MK,2023,49.0,Dam,441,Hilda Sjöberg,Tibro MK,4,17:31.0,19:31.1,19:36.3,19:18.4,19:05.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,Tibro MK,2023,50.0,Bredd,315,Jesper Thorsson,Kungsbacka MA,4,17:53.0,19:36.0,19:27.1,19:18.8,19:30.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
324,Tibro MK,2023,51.0,Bredd,200,Andreas Josefsson,Falköpings MK,4,18:45.1,19:45.6,19:41.4,19:35.8,19:42.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Dropping columns Varv 5 to Varv 11
columns_to_drop = ['Varv 5', 'Varv 6', 'Varv 7', 'Varv 8', 'Varv 9', 'Varv 10', 'Varv 11']
concatenated_df.drop(columns=columns_to_drop, inplace=True)

concatenated_df.head(-10)

,Plats,År,Plac,Klass,#,Namn,Klubb,Varv,Tid,Varv 1,Varv 2,Varv 3,Varv 4
0,FMK Skövde,2023,1.0,Motion 40-49,1111,Magnus Edberg,Huskvarna MK,4,53:05.5,14:08.2,14:17.5,11:47.5,12:52.1
1,FMK Skövde,2023,2.0,Motion -39,518,Alexander Fält,Försvarsmaktens EK,4,53:45.2,14:38.8,14:31.4,12:13.6,12:21.2
2,FMK Skövde,2023,3.0,Motion -39,577,Måns Dalén,FMCK Skövde,4,53:51.5,14:20.4,14:53.3,12:03.4,12:34.3
3,FMK Skövde,2023,4.0,Ungdom E1,175,William Almén,SMK Värnamo,4,54:06.2,14:26.6,14:50.0,12:07.0,12:42.5
4,FMK Skövde,2023,5.0,Motion 40-49,944,Niklas Strömberg,Götene MK,4,54:13.8,14:40.2,15:07.9,11:56.7,12:28.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Tibro MK,2023,47.0,Bredd,213,Björn Levin,Kinna MK,4,13:56.1,18:39.1,18:19.7,18:30.7,18:26.4
321,Tibro MK,2023,48.0,Bredd,332,Ulf Åström,Wäxjö MS,4,16:18.5,19:03.6,19:05.7,19:10.9,18:58.2
322,Tibro MK,2023,49.0,Dam,441,Hilda Sjöberg,Tibro MK,4,17:31.0,19:31.1,19:36.3,19:18.4,19:05.1
323,Tibro MK,2023,50.0,Bredd,315,Jesper Thorsson,Kungsbacka MA,4,17:53.0,19:36.0,19:27.1,19:18.8,19:30.9
324,Tibro MK,2023,51.0,Bredd,200,Andreas Josefsson,Falköpings MK,4,18:45.1,19:45.6,19:41.4,19:35.8,19:42.1

In [20]:
# Dropping rows with NaN or NaT values in columns 'Varv 1' to 'Varv 4'
columns_to_check = ['Varv 1', 'Varv 2', 'Varv 3', 'Varv 4']
concatenated_df.dropna(subset=columns_to_check, how='any', inplace=True)

# Outputting the resulting DataFrame
concatenated_df.head()

,Plats,År,Plac,Klass,#,Namn,Klubb,Varv,Tid,Varv 1,Varv 2,Varv 3,Varv 4
0,FMK Skövde,2023,1.0,Motion 40-49,1111,Magnus Edberg,Huskvarna MK,4,53:05.5,14:08.2,14:17.5,11:47.5,12:52.1
1,FMK Skövde,2023,2.0,Motion -39,518,Alexander Fält,Försvarsmaktens EK,4,53:45.2,14:38.8,14:31.4,12:13.6,12:21.2
2,FMK Skövde,2023,3.0,Motion -39,577,Måns Dalén,FMCK Skövde,4,53:51.5,14:20.4,14:53.3,12:03.4,12:34.3
3,FMK Skövde,2023,4.0,Ungdom E1,175,William Almén,SMK Värnamo,4,54:06.2,14:26.6,14:50.0,12:07.0,12:42.5
4,FMK Skövde,2023,5.0,Motion 40-49,944,Niklas Strömberg,Götene MK,4,54:13.8,14:40.2,15:07.9,11:56.7,12:28.9

## Convert lap times to time format.

In [21]:
# Find only columns starting with 'Varv' followed by a space and a number
varv_columns = [col for col in concatenated_df.columns if re.match(r'Varv\s\d+', col)]

# Replace 'BRUTIT' with NaN in the 'Varv' columns
concatenated_df[varv_columns] = concatenated_df[varv_columns].replace('BRUTIT', pd.NaT)

# Function to convert lap time strings to Timedelta objects
def convert_to_timedelta(lap_time):
    if pd.notnull(lap_time) and isinstance(lap_time, str) and ':' in lap_time:
        minutes, rest = lap_time.split(':')
        seconds_tenths = rest.split('.')
        if len(seconds_tenths) == 2:
            seconds, tenths = map(int, seconds_tenths)
            microseconds = tenths * 100000  # Convert tenths to microseconds
            return pd.Timedelta(minutes=int(minutes), seconds=seconds, microseconds=microseconds)
    return pd.NaT if pd.isnull(lap_time) else lap_time

# Apply the conversion function to lap time columns
for col in varv_columns:
    concatenated_df[col] = concatenated_df[col].apply(convert_to_timedelta)

# Filter rows with NaN or NaT values in Varv 1 to Varv 4 columns
concatenated_df = concatenated_df.dropna(subset=varv_columns[:4], how='any')

In [22]:
concatenated_df.head(-10)

,Plats,År,Plac,Klass,#,Namn,Klubb,Varv,Tid,Varv 1,Varv 2,Varv 3,Varv 4
0,FMK Skövde,2023,1.0,Motion 40-49,1111,Magnus Edberg,Huskvarna MK,4,53:05.5,0 days 00:14:08.200000,0 days 00:14:17.500000,0 days 00:11:47.500000,0 days 00:12:52.100000
1,FMK Skövde,2023,2.0,Motion -39,518,Alexander Fält,Försvarsmaktens EK,4,53:45.2,0 days 00:14:38.800000,0 days 00:14:31.400000,0 days 00:12:13.600000,0 days 00:12:21.200000
2,FMK Skövde,2023,3.0,Motion -39,577,Måns Dalén,FMCK Skövde,4,53:51.5,0 days 00:14:20.400000,0 days 00:14:53.300000,0 days 00:12:03.400000,0 days 00:12:34.300000
3,FMK Skövde,2023,4.0,Ungdom E1,175,William Almén,SMK Värnamo,4,54:06.2,0 days 00:14:26.600000,0 days 00:14:50,0 days 00:12:07,0 days 00:12:42.500000
4,FMK Skövde,2023,5.0,Motion 40-49,944,Niklas Strömberg,Götene MK,4,54:13.8,0 days 00:14:40.200000,0 days 00:15:07.900000,0 days 00:11:56.700000,0 days 00:12:28.900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,Tibro MK,2023,46.0,Bredd,369,Andreas Axelsson,Tibro MK,4,13:09.7,0 days 00:18:04.500000,0 days 00:18:24.500000,0 days 00:18:11,0 days 00:18:29.600000
320,Tibro MK,2023,47.0,Bredd,213,Björn Levin,Kinna MK,4,13:56.1,0 days 00:18:39.100000,0 days 00:18:19.700000,0 days 00:18:30.700000,0 days 00:18:26.400000
321,Tibro MK,2023,48.0,Bredd,332,Ulf Åström,Wäxjö MS,4,16:18.5,0 days 00:19:03.600000,0 days 00:19:05.700000,0 days 00:19:10.900000,0 days 00:18:58.200000
322,Tibro MK,2023,49.0,Dam,441,Hilda Sjöberg,Tibro MK,4,17:31.0,0 days 00:19:31.100000,0 days 00:19:36.300000,0 days 00:19:18.400000,0 days 00:19:05.100000
323,Tibro MK,2023,50.0,Bredd,315,Jesper Thorsson,Kungsbacka MA,4,17:53.0,0 days 00:19:36,0 days 00:19:27.100000,0 days 00:19:18.800000,0 days 00:19:30.900000